<footer>
    <div class="container">
        <div class="row">
            <p class="copyright">
                Copyright &copy; {{ now|date('Y') }} by {{ bloginfo('name') }}
            </p>
        </div>
    </div>
</footer>
