{% extends 'layouts/base.twig' %}

{% block content %}
    <div class="container">
        <div class="col-12">
            <a class="logo-link" href="{{ site.url }}" rel="home">{{ site.name }}"</a>
        </div>
        <div class="col-12">
            <h2>
                Contact form </h2>
            <form method="POST" class="contact-form js-contact-form" accept-charset="utf-8">
                <div class="form-group">
                    <label><input name="name" placeholder="Name"/></label>
                </div>
                <div class="form-group">
                    <label><input name="email" type="email" placeholder="Email"/></label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">submit</button>
                </div>
            </form>

            <h2>
                Login form </h2>
            <form method="POST" class="contact-form js-login-form" accept-charset="utf-8">
                <div class="form-group">
                    <label><input name="email" placeholder="Email"/></label>
                </div>
                <div class="form-group">
                    <label><input name="password" type="password" placeholder="Password" autocomplete/></label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">submit</button>
                </div>
            </form>
            <h2>
                Search form </h2>
            <form method="get" accept-charset="utf-8" role="search" action="{{ site.url }}">
                <div class="form-group">
                    <label><input name="s" required/></label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">submit</button>
                </div>
            </form>

            {% if user %}
                <a href="{{ fn('wp_logout_url', "/" ) }}">Log out</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
