<!DOCTYPE html>
<html {{ site.language_attributes }} dir="ltr">
  <head>
    {% include 'components/head.twig' %}
  </head>
  <body class="{{ body_class }}">
    <div class="preloader-main js-preloader-main"></div>

    {% include 'components/header.twig' %}

    <section id="content" role="main" class="content-wrapper">
      <div class="wrapper">
        {% block content %}
          Sorry, no content
        {% endblock %}
      </div>
    </section>

    {% block modals %}
      {% include 'components/modals.twig' %}
    {% endblock %}

    {% block footer %}
      {% include 'components/footer.twig' %}
      {{ fn('wp_footer') }}
    {% endblock %}

    {% block javascripts %}
      {% include 'components/devs.twig' %}
    {% endblock %}
  </body>
</html>
