<!doctype html>
<html>

    <head>
        {% include 'particals/head.twig' %}
    </head>

    <body class="{{ body_class }}">

        {% include 'particals/header.twig' %}

        <section id="content" role="main" class="content-wrapper">
            <div class="wrapper">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>
        </section>

        {% include 'particals/footer.twig' %}
        {% include 'particals/devs.twig' %}
        {% include 'particals/modals.twig' %}
    </body>
</html>
