{% extends "layouts/base.twig" %}

{% block content %}
    <a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
    <br>
    {{ foo }}
    <br>
    {{ redux_option_example }}
{% endblock %}