{% extends "layouts/base.twig" %}

{% block content %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {# {% do action('showBreads') %} #}

    <div class="container">
        <div class="col-12">
            <a class="hdr-logo-link" href="{{ site.url }}" rel="home">{{ site.name }}</a>
        </div>
        <div class="col-12">

            <h2>Ajax form</h2>
            <form method="POST" class="contactForm" id="contactForm" accept-charset="utf-8">
                <div class="form-group">
                    <label>
                        <input name="name">
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input name="mail">
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">submit</button>
                </div>
            </form>

            <h2>Search form</h2>
            <form method="get" accept-charset="utf-8" action="/">
                <div class="form-group">
                    <label>
                        <input name="s">
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">submit</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
