{% extends "layouts/base.twig" %}

{% block content %}
    <!-- {% do action('breads_func') %} -->
    <a class="hdr-logo-link" href="{{ site.url }}" rel="home">{{ site.name }}</a>
    <br><br>
    {{ foo }}
    <br>
    {{ test }}
    <form method="POST" class="contactForm" id="contactForm" accept-charset="utf-8">
        <input name="name">
        <input name="mail">
        <button type="submit">submit</button>
    </form>

{% endblock %}
