<noscript>
    <div class="m-noscript">
        <p>В вашем браузере отключен  <b>JavaScript!</b> Чтобы корректно пользоваться сайтом, его нужно включить в настройках браузера.</p>
    </div>
</noscript>

<script async="async" defer="defer" src="{{ theme.path }}/assets/dist/js/libs/old.js?ver=1"></script>
<!-- <script async="async" defer="defer" src='https://www.google.com/recaptcha/api.js'></script> -->
