/* =WordPress Core
-------------------------------------------------------------- */
.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  text-align: center;
}

.cart-qty-wrapper input {
  width: 37px;
}
