{% for post in posts %}

    <div class="category-post" style="padding:15px;">
        {{post.title}}

        {% if post.get_thumbnail %}
            <img src="{{post.thumbnail.src}}" />
        {% endif %}

        {{post.get_preview(20, false, '', true)}}

        {{function('edit_post_link', 'Edit', '<span class="edit-link">', '</span>')}}
    </div>

{% endfor %}

{% include 'particals/pagination.twig' %}
