{% extends 'layouts/base.twig' %}

{% block content %}
  <div class="post-wrap" id="post-{{ post.ID }}">
    {{ post.title }}

    {{ post.content }}

    <form action="?" class="js-contact-form">
      <input type="text" name="name" />
      <input type="text" name="mail" />
      <button>submit</button>
    </form>
  </div>
{% endblock %}
