{% extends "layouts/base.twig" %}

{% block content %}
    <div class="post-wrap" id="post-{{ post.ID }}">
        <h1>{{ post.title }}</h1>
        {{ post.content }}
    </div>

    <!-- comment box -->
    <section class="comment-box">
        <!-- comments -->
        <div class="comments">
            {% if post.comments %}
            <h3> comments </h3>
            {% for cmt in post.comments %}
                {% include "particals/comment.twig" with {comment:cmt} %}
            {% endfor %}
            {% endif %}
        </div>

        {% if post.comment_status == "closed" %}
            <p> comments for this post are closed </p>
        {% else %}
            <!-- comment form -->
            {% include "particals/comment-form.twig" %}
        {% endif %}
    </section>

{% endblock %}
