@import "_plugins";

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.thumb-sm img {
  width: 100px;
  max-width: unset;
}

.js-remove-from-cart i {
  pointer-events: none;
}
