<!DOCTYPE html>
<html {{ site.language_attributes|raw }} dir="ltr">
<head>
    {% include 'components/head.twig' %}
</head>
<body class="{{ body_class|e('html_attr') }}">
<div class="preloader-main js-preloader-main"></div>
{% include 'components/header.twig' %}

<div class="wrapper">
    {% block content %}
    {% endblock %}
</div>2

{% block modals %}
    {% include 'components/modals.twig' %}
{% endblock %}

{% block footer %}
    {% include 'components/footer.twig' %}
    {{ fn('wp_footer') }}
{% endblock %}
</body>
</html>

