{% extends 'layouts/base.twig' %}

{% block content %}
    {{ fn('yoast_breadcrumb', '<nav id="breadcrumbs" class="main-breadcrumbs">','</nav>', false ) }}

    <div class="post-wrap" id="post-{{ post.ID }}">
        <h1>
            {{ post.title }}
        </h1>

        {{ post.content }}
    </div>
{% endblock %}
