{% extends 'layouts/base.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>
                    {{ post.title }}
                </p>
                <p>
                    {% if fn('function_exists', 'yoast_breadcrumb') %}
                        {{ fn('yoast_breadcrumb', '<nav id="breadcrumbs" class="main-breadcrumbs">','</nav>', false ) }}
                    {% endif %}
                </p>
            </div>

            <div class="col-12">
                {# {{ post.content }} #}
                {{ function('do_shortcode', '[woocommerce_my_account]') }}
            </div>

        </div>


    </div>

{% endblock %}
