{% extends 'layouts/base.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>
                    {{ post.title }}
                </p>
                <p>
                    {% if fn('function_exists', 'yoast_breadcrumb') %}
                        {{ fn('yoast_breadcrumb', '<nav id="breadcrumbs" class="main-breadcrumbs">','</nav>', false ) }}
                    {% endif %}
                </p>
            </div>

            <div class="col-12">
                {% if is_logged_in or is_wc_endpoint %}
                    {{ fn('do_shortcode', '[woocommerce_my_account]') }}
                {% else %}
                    {% include 'woocommerce/myaccount/form-login.twig' %}
                {% endif %}
            </div>

        </div>


    </div>

{% endblock %}
