{% extends 'layouts/base.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>
                    {{ post.title }}
                </p>
                <p>
                    {{ fn('yoast_breadcrumb', '<nav id="breadcrumbs" class="main-breadcrumbs">','</nav>', false ) }}
                </p>
            </div>

            <div class="col-12">
                {{ post.content }}
            </div>

        </div>


    </div>

{% endblock %}
